*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main{
  height: 100%;
  width: 1170px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form{
  display: flex;
  flex-direction: row;
}

.left{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
}

input{
  height: 60px;
  width: 270px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  margin-bottom: 30px;
  color: #343A40;
}

input::placeholder{
  color: black;
}

input:focus, input:focus::placeholder, textarea:focus  {
  background: #472AB2;
  color: white;
}

textarea{
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  height: 200px;
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
}

button{
  height: 40px;
  width: 112px;
  border-radius: 5px;
  border: none;
  background: #472AB2;
  color: white;
  outline: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

button:hover{
  background: #472acf;
  box-shadow: 0 10px 100px rgba(71, 42, 207, 0.38);
}

button:active{
  transform: scale(0.95);
}

.right{
  margin-left: 30px;
}

.card{
  width: 570px;
  height: 290px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.round{
  height: 60px;
  width: 60px;
  background-color: #472AB2;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}




